.nav {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  a:hover {
      color: #3b56f3;
      cursor: pointer;
    }

  @media (max-width: 600px) {
    margin: 0;
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
}

.nav-logo {
  width: 3rem;

  svg {
    fill: white;
  } 
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.active {
  background-color: #3b56f3;
  color: black;
}

.wrapper-nav {
  width: 100%;
}

.home-meteorites {
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 5px;

  img {
    max-width: 21%;
  }

  svg {
    width: 33px;
    margin-top: 12px;
  }
}
