.list-asteroids {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 2rem 2rem;
  justify-content: center;
}

.date {
  text-align: left;
}


.primary {
  fill: #3b56f3
}

.secondary {
  fill: white;
}

svg {
  width: 2rem;
  height: 2rem;
}

.filters {
  display: flex;
  justify-content: end;
  gap: 5px;
  position: relative;
}

.button-with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 1rem 0;
}

.settings {
  position: absolute;
  width: 100%;
  top: 60px;
  background: #3b56f3;
  opacity: 0;
  padding: 1rem;
  border-radius: 6px;

  .align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.submit {
  margin: 1rem;
  padding: 1rem;
}